/*Modificaciones en general*/
*{
	margin:0px;
	padding: 0px;

}
body{
	background:#ededed;
}

.contenedor{
	width: 100%;
	max-width: 800px;
	margin:auto;
	z-index: 1;
}

a{
	text-decoration: none;
} 
/* Trabajando sobre el header*/
.separador{
	height:200px;
}

header .cajaLogo {

	text-align: center;
	padding: 60px;
	background: rgba(0,0,0,0.8);
	position: fixed;
	width: 100%;
	height: 30px;
	z-index: 2;
	}

header .cajaLogo h1{
	font-size: 40px;
	color:white;

}

header .cajaLogo p {
	font-size: 20px;
	color:white;

}

header .cajaBusqueda{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	


}

header .cajaBusqueda .barraDeBusqueda{
	background: #ededed;
	color:black;
	border:5px solid black;
	text-align: center;
	font-size: 25px;
	border-radius: 20px;
	width:70%;
	height:40px;
	box-shadow: 0px 0px 50px grey;
}

 header .cajaCategorias{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 20px;

	
}

header .cajaCategorias .item{
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 20px;
    color:white;
	margin: 10px;
	padding: 20px;
	font-size:20px;

}


 header .cajaCategorias .item:hover{
	background: #DEB887 ;
}

header .cajaCategorias .categoriaActivada{
 	background: grey;
    color:black;
	margin: 10px;
	padding: 20px;
	font-size:20px;
	
}



/* trabajamos sobre la galeria de imagenes*/

section .cajaImagenes{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

}


section .cajaImagenes .cajaItem{
   margin:5px;
   width: calc(33.33% - 10px);
   

}

section .cajaImagenes .cajaItem .img{
	width: 100%;
	box-shadow: 0px 0px 35px black;
	
	

}

section .cajaImagenes .cajaItem .descripcion{
	display: flex;
	justify-content: center;
	align-items: center;
	color:black;
	background: grey;
	padding:5px;
	text-align: center;
	height: 30px;
	border-radius: 10px;
	font-size: 20px;
}
	
/* Trabajamos sobre  unicamente fotos seleccionada*/

section .cajaPantallaUnica {
	display: none;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	top:0;
	background:rgba(0,0,0,0.8);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	

}

section .activoPantallaUnica{
	display: flex;

}

section .cajaPantallaUnica .cajaImg{
	position: relative;
}

section .cajaPantallaUnica .cajaImg .cajaBoton #botonCerrar{
	position: absolute;
	right: 0px;
	top:0px;
	font-size: 20px;
}


 /*Trabajando sobre el Fooder*/

 footer .cajaContactos{
 	flex-wrap: wrap;
 	background: rgba(0,0,0,0.9) ;
 	border-radius: 40px;
    height: 150px;
    border-radius: 20px;
 	flex-direction: column;
 	display: flex;
    border:5px double white;

 }

footer .cajaContactos .icono{
	margin:10px;
	display: inline-flex;
}

 @keyframes movIcono{
 	from{
 		transform: rotate3d(0,0,0,0);
 	}
 	to{
        transform: rotate3d(0,1,0,360deg);
 	}
 } 
 
 footer .cajaContactos .icono .whatsapp{
 	background: #25D366;
 	margin-bottom:10px;
 	width: 40px;
 	height: 40px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	border-radius: 40px;
 	
 	

 }

 footer .cajaContactos .icono .whatsapp:hover{
   animation: movIcono  0.9s; 
 }

 footer .cajaContactos .icono .direccion{
 	margin-bottom:10px;
 	background: white;
 	color:red;
 	width: 40px;
 	height: 40px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	border-radius: 40px;

 }

 footer .cajaContactos .icono .direccion:hover{
 	animation: movIcono 0.9s;
 }



footer .cajaContactos .icono .descripcionIcono{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:5px;
	color:white;
}

footer .contenedorDerechos{
 	text-align: center;
 	font-size: 20px;
 	margin:20px;
 	color:grey;

 }

 footer .contenedorDerechos a{
 	color:black;
 }

 footer .contenedorDerechos p a:hover{
 	text-decoration: underline;
 }



